<!-- Header -->
<header class="border-b bg-white h-[4.125rem] border-[var(--stroke-color-lowEmphasis,#f2f3f3)]">
  <!-- Main Header Content -->
  <div class="flex items-center justify-between py-2 px-8">
    <!-- Left side - Page Title and Breadcrumb -->
    <div class="flex flex-col gap-1">
      <h1 class="font-sans font-semibold text-lg leading-6 tracking-normal text-[#131517]">
        {{ pageTitle }}
      </h1>
      <div class="flex items-center gap-1">
        <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
      </div>
    </div>
  </div>
</header>
