/* You can add global styles to this file, and also import other style files */

@use 'tailwindcss';

:root {
  --color-surface-page: #f3f8fb;
  --color-surface-card: #f4f1e7;
  --color-surface-blue: #f3f8fb;
  --color-surface-page-light: #faf8f3;
  --color-emerald-400: #5ef094;
  --color-border-primary: #f3f8fb;
  --color-breadcrumb-primary: #926f01;
  --color-breadcrumb-secondary: #6b7280;
  --color-dark-8: #131517;
  --color-warm-gray: #eeece7;

  --font-family-sans:
    'Inter', ui-sans-serif, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;
  --font-size-3xl: 30px;
  --font-size-4xl: 36px;
  --font-size-5xl: 48px;

  --line-height-xs: 18px;
  --line-height-sm: 20px;
  --line-height-base: 24px;
  --line-height-lg: 28px;
  --line-height-xl: 28px;
  --line-height-2xl: 32px;
  --line-height-3xl: 36px;
  --line-height-4xl: 40px;
  --line-height-5xl: 1;
}

button {
  @apply cursor-pointer;
}
